
#tags{
    position:relative;
    min-height: calc(100vh - 200px);
    
}

.tag-content {
    position: absolute;
    padding: 20px;
    box-shadow: 0 0 1px rgba(0,0,0,.5);
    width: 100%;
    display: none;
    overflow: auto;
    top: 50px;
    overflow: auto;
    max-height: calc(100vh - 300px)
}

#tags label {
    display: inline-block;
    padding: 10px;
    box-shadow: 0 0 1px rgba(0,0,0,.5);
    background: lavenderblush;
}


#tags input[type=radio]:checked + label {
    background: #5D7B9D;
    color: #fff;
    font-weight: 600;
}

#tags input[type=radio]:checked + label + .tag-content {
    display:inline-block;
    left:0;
}