* {
    font-family: sans-serif;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

tr{
    text-align:center;
    margin-top: 10px;
}

.topnav {
    background-color: #00AEFF; 
    overflow: hidden;
}

    /* Style the links inside the navigation bar */
    .topnav a {
        float: right;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        cursor: pointer;
    }

        /* Change the color of links on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        /* Add a color to the active/current link */
        .topnav a:active {
            background-color: #00AEFF;
            color: white;
        }

    .topnav .a {
        float: right;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        /* Change the color of links on hover */
        .topnav .a:hover {
            background-color: #ddd;
            color: black;
        }

        /* Add a color to the active/current link */
        .topnav .a.active {
            background-color: #00AEFF;
            color: white;
        }

/**/

.vertical-menu {
    position: absolute;
    top: 50px;
    width: 300px; /* Set a width if you like */
    text-align: center;
}


    .vertical-menu img {
        width: 100%;
        height: 100%;
        padding-bottom: 10%;
    }

    .vertical-menu .a {
        background-color: #eee;
        color: black;
        display: block;
        padding: 12px;
        text-decoration: none;
        width: 300px;
        height: 50px;
    }

        .vertical-menu .a:hover {
            background-color: #ccc; /* Dark grey background on mouse-over */
        }

        .vertical-menu .a.active {
            background-color: #00AEFF; /* Add a green color to the "active/current" link */
            color: white;
        }


/**/

.horizontal {
    top: 10%;
    position: absolute;
    right: 30px;
    left: 25%;
    height: 550px;
    /*background-color: #2EFEF7;*/
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-radius: 15px;
}

    .horizontal .panel2 {
        width: 100%;
        height: 100%;
        /*background: #00AEFF;*/
        border-radius: 15px;
    }

        .horizontal .panel2 .registro {
            text-align: center;
            justify-content: center;
            float: left;
            border-width: 2px;
            border-style: solid;
            border-color: transparent;
            padding: 10px;
            margin: 10px;
            width: 45%;
            height: 90%;
            /* IMPORTANTE */
            display: inline-block;
            border-radius: 15px;
        }

        /**/

        .horizontal .panel2 .registro2 {
            text-align: center;
            justify-content: center;
            float: right;
            border-width: 2px;
            border-style: solid;
            border-color: transparent;
            padding: 10px;
            margin: 10px;
            width: 45%;
            height: 90%;
            /* IMPORTANTE */
            display: inline-block;
            border-radius: 15px;
            display: inline-block;
        }


        /**/


        .horizontal .panel2 .registro .nombre {
            text-align: center;
            justify-content: center;
            float: left;
            border-width: 2px;
            border-style: solid;
            border-color: transparent;
            padding: 10px;
            margin: 10px;
            width: 90%;
            height: 15%;
            /* IMPORTANTE */
            display: inline-block;
            border-radius: 15px;
        }

            .horizontal .panel2 .registro .nombre .texto {
                display: inline-block;
                margin: 10px;
                padding: 10px;
                font-size: 15px;
                font-family: sans-serif;
            }

            .horizontal .panel2 .registro .nombre .text {
                font-size: 15px;
                border-radius: 5px;
                border-width: 2px;
                border-style: solid;
                border-color: #00a9ff;
            }

            .horizontal .panel2 .registro .nombre .pregunta {
                text-align: center;
                justify-content: center;
                float: left;
                border-width: 2px;
                border-style: solid;
                border-color: transparent;
                padding: 10px;
                margin: 10px;
                width: 90%;
                height: 200%;
                /* IMPORTANTE */
                display: inline-block;
                border-radius: 15px;
            }

                .horizontal .panel2 .registro .nombre .pregunta .texto {
                    display: inline-block;
                    margin: 10px;
                    padding: 10px;
                    font-size: 15px;
                    font-family: sans-serif;
                }

                .horizontal .panel2 .registro .nombre .pregunta .text {
                    font-size: 15px;
                    margin-bottom: 20px;
                    border-radius: 5px;
                    border-width: 2px;
                    border-style: solid;
                    border-color: #00a9ff;
                }

                .horizontal .panel2 .registro .nombre .pregunta .boton {
                    font-family: "Roboto", sans-serif;
                    text-transform: uppercase;
                    outline: 0;
                    background: #00AEFF;
                    width: 50%;
                    border: 0;
                    padding: 15px;
                    color: #FFFFFF;
                    font-size: 14px;
                    -webkit-transition: all 0.3 ease;
                    transition: all 0.3 ease;
                    cursor: pointer;
                    border-radius: 20px;
                }

                .horizontal .panel2 .registro .nombre .pregunta .respuesta {
                    text-align: center;
                    justify-content: center;
                    float: left;
                    border-width: 2px;
                    border-style: solid;
                    border-color: transparent;
                    padding: 10px;
                    margin: 15px;
                    width: 90%;
                    height: 130%;
                    /* IMPORTANTE */
                    display: inline-block;
                    border-radius: 15px;                    
                }

                    .horizontal .panel2 .registro .nombre .pregunta .respuesta .texto {
                        display: inline-block;
                        margin: 10px;
                        padding: 10px;
                        font-size: 15px;
                        font-family: sans-serif;
                    }

                .horizontal .panel2 .registro .nombre .pregunta .respuesta .text {
                    font-size: 15px;
                    margin-bottom: 20px;
                    border-radius: 5px;
                    border-width: 2px;
                    border-style: solid;
                    border-color: #00a9ff;
                }

                    .horizontal .panel2 .registro .nombre .pregunta .respuesta .boton {
                        font-family: "Roboto", sans-serif;
                        text-transform: uppercase;
                        outline: 0;
                        background: #00AEFF;
                        width: 50%;
                        border: 0;
                        padding: 15px;
                        color: #FFFFFF;
                        font-size: 14px;
                        -webkit-transition: all 0.3 ease;
                        transition: all 0.3 ease;
                        cursor: pointer;
                        border-radius: 20px;
                    }

        .horizontal .panel2 .registro2 .nombre .pregunta .respuesta .lista {
            text-align: center;
            justify-content: center;
            float: left;
            border-width: 2px;
            border-style: solid;
            border-color: transparent;
            padding: 10px;
            margin: 10px;
            width: 90%;
            height: 60%;
            /* IMPORTANTE */
            display: inline-block;
            border-radius: 15px;
        }

        .horizontal .panel2 .registro2 .lista .texto {
            display: inline-block;
            font-size: 15px;
            width: 150px;
            height: 50px;
            font-family: sans-serif;
        }

        .horizontal .panel2 .registro2 .guardar {
            text-align: center;
            justify-content: center;
            float: left;
            border-width: 2px;
            border-style: solid;
            border-color: transparent;
            padding: 10px;
            margin: 10px;
            width: 90%;
            height: 40%;
            /* IMPORTANTE */
            display: inline-block;
            border-radius: 15px;
        }

            .horizontal .panel2 .registro2 .guardar .boton {
                font-family: "Roboto", sans-serif;
                text-transform: uppercase;
                outline: 0;
                background: #00AEFF;
                width: 50%;
                border: 0;
                padding: 15px;
                color: #FFFFFF;
                font-size: 14px;
                -webkit-transition: all 0.3 ease;
                transition: all 0.3 ease;
                cursor: pointer;
                border-radius: 20px;
            }

        /**/

        .horizontal .panel2 .tabla1 {
            text-align: center;
            justify-content: center;
            margin-left: 10px;
            border-width: 2px;
            border-style: solid;
            border-color: transparent;
            padding: 10px;
            margin: 10px;
            width: 40%;
            height: 60%;
            /* IMPORTANTE */
            display: inline-block;
            border-radius: 15px;
            display: inline-block;
        }

        .horizontal .panel2 .tabla2 {
            text-align: center;
            justify-content: center;
            float: right;
            border-width: 2px;
            border-style: solid;
            border-color: transparent;
            padding: 10px;
            margin: 10px;
            width: 40%;
            height: 60%;
            /* IMPORTANTE */
            display: inline-block;
            border-radius: 15px;
            display: inline-block;
        }

        .horizontal .panel2 .tabla1 .listas {
            width: 100%;
            height: 95%;
        }

        .horizontal .panel2 .tabla2 .listas {
            width: 100%;
            height: 95%;
        }


        .horizontal .panel2 .registro .nombre .guardar {
            text-align: center;
            justify-content: center;
            float: left;
            border-width: 2px;
            border-style: solid;
            border-color: transparent;
            padding: 10px;
            margin: 10px;
            width: 90%;
            height: 40%;
            /* IMPORTANTE */
            display: inline-block;
            border-radius: 15px;
        }
            .horizontal .panel2 .registro .nombre .guardar .boton {
                font-family: "Roboto", sans-serif;
                text-transform: uppercase;
                outline: 0;
                background: #00AEFF;
                width: 50%;
                border: 0;
                padding: 15px;
                color: #FFFFFF;
                font-size: 14px;
                -webkit-transition: all 0.3 ease;
                transition: all 0.3 ease;
                cursor: pointer;
                border-radius: 20px;
            }


            /*grid*/

        .horizontal .panel2 .grid {
            position: absolute;
            top: 10%;
            padding-top: 0;
            padding-right: 0;
            height: 100%;
            width: 100%;
            border-radius: 5px;
            border-width: 2px;
            border-style: solid;
            border-color: transparent;
        }

        .horizontal .panel2 .grid .gridview{
            width: 100%;
            height: 100%;
        }

            .horizontal .panel2 .grid .gridview .boton {
                border-radius: 5px;
                border-width: 2px;
                border-style: solid;
                border-color: #00a9ff;
                background: #00a9ff; 
                margin-left: 5px;
                margin-right: 5px;
                width: 90%;
                height: 50%;
                color: #fff;
                cursor: pointer;
            }

                .horizontal .panel2 .grid .gridview .boton:hover{
                    background-color: aquamarine;
                    color: #000;
                }

                /*User*/
                .horizontal .panel3 {
                    width: 450px;
                    height: 550px;
                    z-index: 1;
                    left: 2px;
                    top: 5px;
                    position: absolute;
                    justify-content: center;
                    text-align: center
                }


                /*gird2*/

    .horizontal .panel2 .grid2 {
        position: absolute;
        top: 10%;
        padding-top: 0;
        padding-right: 0;
        margin-right: 0;
        height: 100%;
        width: 100%;
        border-radius: 5px;
        border-width: 2px;
        border-style: solid;
        border-color: #00a9ff;
    }

    .horizontal .panel2 .grid2 .gridview2 {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 2px;       
    }

        .horizontal .panel2 .grid2 .gridview2 .texto {
            border-radius: 5px;
            border-width: 2px;
            border-style: solid;
            border-color: #00a9ff;
            margin-left: 15px;
            margin-top: 10px;
            margin-bottom: 10px;
            width: 80%;
            height: 30%;
        }

    .horizontal .panel2 .btn-Responder {
        border-radius: 5px;
        border-width: 2px;
        border-style: solid;
        border-color: #00a9ff;
        width: 120px;
        height: 50px;
        background: #00a9ff;
        cursor: pointer;
        position: absolute;
        top: 90%;
        left: 40%;
    }

    .horizontal .panel2 .lbl-responder {
        position: absolute;
        top: 93%;
        left: 55%;
    }


    /**/
    .horizontal .panel4 {
        top: 3px;
        float: right;
        width: 50%;
        height: 100%;
        z-index: 1;
        left: 459px;
        position: absolute;
        justify-content: center;
        text-align: center
    }


    .horizontal .panel3 .div {
        margin-top: 5%;
        margin-right: 10%;
        margin-left: 10%;
    }

    .horizontal .panel3 .label {
        font-family: sans-serif;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .horizontal .panel3 .text {
        font-size: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        border-width: 2px;
        border-style: solid;
        border-color: #00a9ff;
    }

    .horizontal .panel4 .div {
        margin-top: 5%;
        margin-right: 10%;
        margin-left: 10%;
    }

    .horizontal .panel4 .label {
        font-family: sans-serif;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .horizontal .panel4 .text {
        font-size: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        border-width: 2px;
        border-style: solid;
        border-color: #00a9ff;
    }

    .horizontal .panel3 .text2 {
        font-size: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        border-width: 2px;
        border-style: solid;
        border-color: #00a9ff;
        width: 65%;
        cursor: pointer;
    }

    .horizontal .panel4 .text2 {
        font-size: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        border-width: 2px;
        border-style: solid;
        border-color: #00a9ff;
        width: 65%;
        cursor: pointer;
    }

    .horizontal .panel4 .fotos {
        width: 100%;
        height: 15%;
        border-radius: 15px;
        border-width: 2px;
        border-style: solid;
        border-color: transparent;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    .horizontal .panel4 .file {
        margin-top: 10px;
        margin-top: 10px;
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        border-width: 2px;
        border-style: solid;
        background-color: #00a9ff;
        border-color: #00a9ff;
        cursor: pointer;
    }

    .horizontal .buton {
        text-align: center;
        justify-content: center;
        position: absolute;
        top: 500px;
        left: -35px;
        background: #00a9ff;
        width: 30%;
        height: 1%;
        padding-bottom: 10%;
        margin-bottom: 10%;
        line-height: 40px;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        border-radius: 5px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.5);
        text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
        cursor: pointer;
    }

        .horizontal .buton:hover {
            background: #00AEFF;
        }



        /*Drop*/

.registro2 .drop {
    width: 100%;
    height: 100px;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
}

    .registro2 .drop .texto {
        padding-top: 5%;
        margin-top: 5%;
        font-size: 15px;
        margin-bottom: 20px;
        border-radius: 5px;
        border-width: 2px;
        border-style: solid;
        border-color: #00a9ff;
    }

    .registro2 .fecha .text {
        font-size: 15px;
        margin-bottom: 20px;
        border-radius: 5px;
        border-width: 2px;
        border-style: solid;
        border-color: #00a9ff;
    }



    /*********************************************************/



.horizontal .panel2 .parte-arriba-registro {
   position: absolute;
   top: 5%;
    border-width: 2px;
    border-style: solid;
    border-color: #00a9ff;
    width: 95%;
    height: 42%;
}
.horizontal .panel2 .parte-abajo-registro {
    position: absolute;
    top: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: #00a9ff;
    width: 95%;
    height: 45%;
}

.horizontal .panel2 .parte-arriba-registro .boton {
    border-width: 2px;
    border-style: solid;
    border-color: #00a9ff;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 5px;
    width: 10%;
    height: 10%;
    cursor: pointer;
    background: #00a9ff;
}

.horizontal .panel2 .parte-arriba-registro .text {
    margin-right: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #00a9ff;
    border-radius: 2px;
    Width: 269px;
}

.horizontal .panel2 .parte-arriba-registro .drop {
    margin-right: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #00a9ff;
    border-radius: 2px;
    margin-left: 10px;
    width: 200px;
}

.horizontal .panel2 .parte-abajo-registro .boton {
    border-width: 2px;
    border-style: solid;
    border-color: #00a9ff;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 5px;
    width: 10%;
    height: 10%;
    cursor: pointer;
    background: #00a9ff;
}

.horizontal .panel2 .parte-abajo-registro .tex2 {
    margin-right: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #00a9ff;
    border-radius: 2px;
    Width: 269px;
}

.horizontal .panel2 .parte-abajo-registro .otro {
    position: absolute;
    top: 5%;
    border-width: 2px;
    border-style: solid;
    border-color: #00a9ff;
    width: 400px;
    height: 200px;
    margin-bottom: 30px;
    left: 50%;
    text-align: center;
}

    .horizontal .panel2 .parte-abajo-registro .otro .listbox {
        margin-top: 10px;
        margin-left: 10px;
        width: 150px;
        height: 180px;
    }


/*********************************************************************/

header {
    width: 100%;
    height: 50px;
    background: #00AEFF;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.conten {
    width: 98%;
    margin: auto;
}

h1 {
    float: left;
}

header .conten {
    display: table;
}


#menu-bar {
    display: none;
}

header label {
    float: right;
    font-size: 25px;
    margin: 6px 0;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 200vh;
    background: #00AEFF;
    transition: all 0.5s;
    transform: translateX(-100%);
}

    .menu a {
        display: block;
        color: #fff;
        height: 20px;
        text-decoration: none;
        padding: 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    .menu .imagen{
        display: block;
    }

    .menu .b {
        display: none;
    }

    .menu a:hover {
        background: rgba(255, 255, 255, 0.3);
    }

#menu-bar:checked ~ .menu {
    transform: translateX(0%);
}

    /**************************************************************/

@media only screen and (min-width: 700px) {
    .menu {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
    }

        .menu a {
            border: none;
        }
        .menu .imagen{
            display: none;
        }

    .contenedor .b {
        display: none;
    }

    header label {
        display: none;
    }
}

    @media only screen and (min-width: 2000px){
        .horizontal{
            left: 40%;
        }
    }

@media only screen and (max-width: 1000px) {

    .horizontal {
        left: 15%;
    }

    .vertical-menu {
        display: none;
    }

    .menu .b {
        display: block;
        color: #fff;
        height: 20px;
        text-decoration: none;
        padding: 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    .horizontal .panel2 .btn-Responder {
        left: 28%;
    }

    .horizontal .panel2 .parte-arriba-registro {
        width: 550px;
        margin-bottom: 40px;
        overflow: scroll;
    }

    .horizontal .panel2 .parte-arriba-registro .drop{
        margin-bottom: 10px;
    }

    .horizontal .panel2 .parte-arriba-registro .boton{
        width: 100px;
    }

    .horizontal .panel2 .parte-arriba-registro .text{
        margin-left: 0;
        margin-top: 5px;
        margin-bottom: 5px;
    }


    .horizontal .panel2 .parte-abajo-registro {
        width: 550px;
        height: 400px;
        overflow: scroll;
    }

    .horizontal .panel2 .parte-abajo-registro .otro{
        left: 10px;
        top: 50%;
        overflow: scroll;
    }

    .horizontal .panel2 .parte-abajo-registro .boton{
        height: 30px;
    }
}


@media only screen and (max-width: 1000px) and (min-width: 700px){

    .menu .b {
        display: none;
    }

    .menu a{
        display: block;
    }

    .vertical-menu {
        display: block;
    }

    .horizontal{
        position: absolute;
        top: 50%;
    }
}


@media only screen and (max-width: 1100px) and (min-width: 1000px){
    .menu .b {
        display: none;
    }

    .menu a {
        display: block;
    }

    .vertical-menu {
        display: block;
    }

    .horizontal {
        position: absolute;
        top: 45%;
    }

    .horizontal .panel2 .parte-arriba-registro{
        overflow: scroll;
    }

    .horizontal .panel2 .parte-abajo-registro{
        overflow: scroll;
    }

    .horizontal .panel2 .parte-abajo-registro .otro{
        margin-left: 30%;
    }
}
    /**************************************************************/