html,
body {
    height: 100%;
    width: 100%;
}

.row {
    height: 100%;
}

.flex-column {
    height: 100%;
}

carousel-inner {
    height: 100%;
}

.carousel-control-next, .carousel-control-prev {
    opacity: .0 !important;
    width: 10%;
}

.carousel-control-next:hover, .carousel-control-prev:hover {
    opacity: .1 !important;
   
}

.p-50 {
    height: 50%;
}

.p-2-divide {
    height: 50%;
    padding: 0px !important;
}

.card-header {
    background-color: rgb(222, 222, 222) !important;
    padding: .50rem 1.25rem !important;
}

.page-title {
    height: 0px !important;
    padding: 1px 0 !important;
}

.x_panel { 
    padding: 0px 17px 0px 2px;  
}


.table td {
    border-right: 0px #2a3f54 solid;
}