
@{
    Layout = null;
}

<p style="font-family: Arial; font-size:8pt; line-height: normal; text-align: center">
    La última versión de cada documento será la única válida para su utilización y estará disponible en el sistema de información institucional Investigue antes de sacar copias de este documento porque corre el riesgo de tener una versión desactualizada
</p>