@{ 
    string titulo = Model[0];
}


<!DOCTYPE html>
<html lang="es">
<head>
<title></title>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<style>
    body{
        font-family: Arial;

    }

</style>    
</head>
<body style="position: relative">
    <img src="../Images/cover.PNG" width="1200" height="1695" />
    <p style="position:absolute; top: 190px; left: 470px; font-size: 30pt; text-align:center; width: 650px;">@titulo</p>
</body>
</html>

    